<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/java_projects/selenium/TestCase15/test/uk/co/datadisk/TestCase15Test.java"><classes><class name="uk.co.datadisk.TestCase15Test"><methods><include name="testMain"/></methods></class></classes></test></suite>